DB/DB.db
Common/__pycache__/SQLiteHelper.cpython-37.pyc
__pycache__/DBService.cpython-37.pyc
Common/__pycache__/SQLiteHelper.cpython-39.pyc
__pycache__/DBService.cpython-38.pyc
__pycache__/DBService.cpython-39.pyc
Common/__pycache__/SQLiteHelper.cpython-38.pyc
Images/Thumbs.db
